html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

.logOut {
    background-color: #003366;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

    .logOut:hover {
        background-color: #004080;
    }

.nav {
    background-color: #004080;
    padding: 10px 20px;
}

    .nav a {
        color: white;
        text-decoration: none;
        margin-right: 15px;
    }

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #003366;
    margin-top: 0;
}

h1 {
    font-size: 1.5rem;
    color: #003366;
}

h3 {
    margin: 20px 0;
    color: #003366;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px; /* Aumentar el padding para mayor comodidad */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem; /* Aumentar el tamaño de la fuente */
}

    input.form-control-lg {
        padding: 15px; /* Mayor padding para inputs grandes */
    }

.cardFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px 0; /* Espacio adicional en la parte inferior */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1rem; /* Aumentar el tamaño de la fuente */
}

.btn-danger {
    background-color: #dc3545; /* Color para el botón de cancelar */
}

.btn-primary {
    background-color: #003366; /* Color para el botón de registrar */
}

.btn-danger:hover {
    background-color: #c82333; /* Color más oscuro al pasar el mouse */
}

.btn-primary:hover {
    background-color: #004080; /* Color más oscuro al pasar el mouse */
}

.required {
    color: red;
}

.container-fluid {
    padding: 0 15px; /* Agregar padding para un mejor espaciado */
}

.cardHeader {
    background-color: #f8f9fa; /* Color de fondo para el encabezado de la tarjeta */
    border-bottom: 2px solid #003366; /* Línea inferior para resaltar */
}