@{
    ViewData["Title"] = "Alta de Administrador";
}

<nav class="navbar navbar-expand-sm header" style="background-color:rgb(0, 51, 102)">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="/Home/Pantalla_ini">
            <img src="https://wp.uaslp.mx/informe/wp-content/uploads/sites/2/2024/04/UASLP.png"
                 alt="Logo" style="max-width: 150px; height: auto;">
        </a>
    </div>
</nav>

<div class="container-fluid d-flex justify-content-center mt-2">
    <div class="container border border-2 border-black rounded rounded-4 m-0 p-0" style="width: 80%;">
        <div class="cardHeader mbg ps-3 py-2 m-0 rounded-top-4">
            <h1 style="color: white;">Registro de Nuevo Administrador</h1>
        </div>
        <div class="container-fluid py-1">
            <h4 class="text-center">Ingresa tus credenciales para poder continuar</h4>

            <!-- Mostrar mensajes de éxito o error -->
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["SuccessMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (ViewData.ModelState.IsValid == false && ViewData.ModelState.Any())
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            }

            <form asp-action="Alta_administrador" method="post">
                <div class="row my-1 py-1 px-10">
                    <label for="usuario" class="col-sm-5 col-lg-4 col-form-label col-form-label-lg text-end">Nuevo Usuario:</label>
                    <div class="col-sm-7 col-lg-8">
                        <input type="text" class="form-control form-control-lg" id="usuario" name="usuario" placeholder="Usuario" required>
                    </div>
                </div>
                
                <div class="row my-1 py-1 px-10">
                    <label for="contrasena" class="col-sm-5 col-lg-4 col-form-label col-form-label-lg text-end">Contraseña:</label>
                    <div class="col-sm-7 col-lg-8">
                        <input type="password" class="form-control form-control-lg" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                    </div>
                </div>
                <div class="row my-1 py-1 px-10">
                    <label for="superUsuario" class="col-sm-5 col-lg-4 col-form-label col-form-label-lg text-end">Usuario Super Administrador:</label>
                    <div class="col-sm-7 col-lg-8">
                        <input type="text" class="form-control form-control-lg" id="superUsuario" name="superUsuario" placeholder="Usuario Super Admin" required>
                    </div>
                </div>
                <div class="row my-1 py-1 px-10">
                    <label for="superContrasena" class="col-sm-5 col-lg-4 col-form-label col-form-label-lg text-end">Contraseña Super Administrador:</label>
                    <div class="col-sm-7 col-lg-8">
                        <input type="password" class="form-control form-control-lg" id="superContrasena" name="superContrasena" placeholder="Contraseña Super Admin" required>
                    </div>
                </div>
                <div class="cardFooter d-flex justify-content-around pb-3">
                    <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("pantalla_ini", "Home")'">Cancelar</button>
                    <button type="submit" class="btn btn-primary mbg">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/GL5U4Uqf5iC+NrQgiVdK33s5i5LlFnCjkHrC6s1" crossorigin="anonymous"></script>
<script>
    // Mostrar el mensaje de éxito y redirigir a la página de inicio de sesión después de unos segundos
    document.addEventListener("DOMContentLoaded", function() {
        var successAlert = document.querySelector(".alert-success");
        if (successAlert) {
            setTimeout(function() {
                window.location.href = '@Url.Action("Index", "Home")';
            }, 2000); // Redirige después de 2 segundos
        }
    });
</script>

