@model dynamic

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<body>
    <nav class="navbar navbar-expand-sm header">
        <div class="container-fluid">
            <img src="https://wp.uaslp.mx/informe/wp-content/uploads/sites/2/2024/04/UASLP.png" alt=""
                 style="max-width: 15%;">
        </div>
    </nav>

    <div class="row" style="padding-top: 5%;">
        <div class="col-2"></div>
        <div class="col-8" class="border border-black">
            <div id="header">
                <h1 style="color: white;"> Iniciar sesión</h1>
            </div>
            <div id="abajo" style="align-items: center;">
                <br>

                <!-- Formulario de autenticación -->
                <form asp-action="Index" method="post">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-3">
                            <h3>Usuario:</h3>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" name="usuario" placeholder="Usuario" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-3">
                            <h3>Contraseña:</h3>
                        </div>
                        <div class="col-5">
                            <input type="password" class="form-control" name="contrasena" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-9">
                            <a href="@Url.Action("Alta_administrador", "Home")">¿Quieres dar de alta un nuevo usuario? Haz clic aquí.</a>
                            <br><br>
                            <a href="@Url.Action("Baja_administrador", "Home")">¿Quieres dar de baja un usuario existente? Haz clic aquí.</a>
                        </div>
                        <div class="col-3">
                            <br>
                            <button type="submit" class="btn btn-outline-light" style="background-color:#004A98;">
                                Iniciar sesión
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Fin del formulario -->
            </div>
        </div>
    </div>
</body>

