CREATE DATABASE Cronometraje

USE [Cronometraje]
GO
/****** Object:  Database [Cronometraje_Carreras]    Script Date: 05/04/2025 03:39:16 a. m. ******/
CREATE DATABASE [Cronometraje_Carreras]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cronometraje_Carreras', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Cronometraje_Carreras.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cronometraje_Carreras_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Cronometraje_Carreras_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cronometraje_Carreras].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cronometraje_Carreras]
GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 05/04/2025 03:39:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[ID_admin] [int] IDENTITY(1,1) NOT NULL,
	[uss_admin] [varchar](10) NOT NULL,
	[pass_admin] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARR_Cat]    Script Date: 05/04/2025 03:39:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARR_Cat](
	[ID_carr_cat] [int] IDENTITY(1,1) NOT NULL,
	[ID_carrera] [int] NOT NULL,
	[ID_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_carr_cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRERA]    Script Date: 05/04/2025 03:39:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRERA](
	[ID_carrera] [int] IDENTITY(1,1) NOT NULL,
	[nom_carrera] [varchar](40) NOT NULL,
	[year_carrera] [int] NOT NULL,
	[edi_carrera] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Carrera] UNIQUE NONCLUSTERED 
(
	[nom_carrera] ASC,
	[year_carrera] ASC,
	[edi_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 05/04/2025 03:39:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CORREDOR]    Script Date: 05/04/2025 03:39:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORREDOR](
	[ID_corredor]  AS (CONVERT([varbinary](5),hashbytes('SHA1',concat([nom_corredor],[apP_corredor],coalesce([apM_corredor],''),CONVERT([varchar],[f_corredor],(112)))))) PERSISTED NOT NULL,
	[nom_corredor] [varchar](25) NOT NULL,
	[apP_corredor] [varchar](20) NOT NULL,
	[apM_corredor] [varchar](20) NULL,
	[f_corredor] [date] NOT NULL,
	[sex_corredor] [char](1) NOT NULL,
	[c_corredor] [varchar](50) NULL,
	[pais] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_corredor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONO]    Script Date: 05/04/2025 03:39:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO](
	[ID_tele] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](15) NOT NULL,
	[ID_Corredor] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_tele] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiempo]    Script Date: 05/04/2025 03:39:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiempo](
	[ID_tiempo] [int] IDENTITY(1,1) NOT NULL,
	[folio_chip] [varchar](20) NOT NULL,
	[tiempo_registrado] [time](7) NOT NULL,
 CONSTRAINT [PK_Tiempo] PRIMARY KEY CLUSTERED 
(
	[ID_tiempo] ASC,
	[folio_chip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vincula_participante]    Script Date: 05/04/2025 03:39:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vincula_participante](
	[ID_vinculo] [uniqueidentifier] NOT NULL,
	[ID_corredor] [varbinary](5) NOT NULL,
	[ID_carr_cat] [int] NOT NULL,
	[num_corredor] [int] NOT NULL,
	[folio_chip] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_vinculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NumCorredorPorCarrera] UNIQUE NONCLUSTERED 
(
	[ID_carr_cat] ASC,
	[num_corredor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARRERA] ADD  DEFAULT ((1)) FOR [edi_carrera]
GO
ALTER TABLE [dbo].[Vincula_participante] ADD  DEFAULT (newid()) FOR [ID_vinculo]
GO
ALTER TABLE [dbo].[CARR_Cat]  WITH CHECK ADD  CONSTRAINT [FK_CARRERA] FOREIGN KEY([ID_carrera])
REFERENCES [dbo].[CARRERA] ([ID_carrera])
GO
ALTER TABLE [dbo].[CARR_Cat] CHECK CONSTRAINT [FK_CARRERA]
GO
ALTER TABLE [dbo].[CARR_Cat]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIA] FOREIGN KEY([ID_categoria])
REFERENCES [dbo].[CATEGORIA] ([ID_categoria])
GO
ALTER TABLE [dbo].[CARR_Cat] CHECK CONSTRAINT [FK_CATEGORIA]
GO
ALTER TABLE [dbo].[Vincula_participante]  WITH CHECK ADD  CONSTRAINT [FK_IDCarrera] FOREIGN KEY([ID_carr_cat])
REFERENCES [dbo].[CARR_Cat] ([ID_carr_cat])
GO
ALTER TABLE [dbo].[Vincula_participante] CHECK CONSTRAINT [FK_IDCarrera]
GO
ALTER TABLE [dbo].[Vincula_participante]  WITH CHECK ADD  CONSTRAINT [FK_IDCorredor] FOREIGN KEY([ID_corredor])
REFERENCES [dbo].[CORREDOR] ([ID_corredor])
GO
ALTER TABLE [dbo].[Vincula_participante] CHECK CONSTRAINT [FK_IDCorredor]
GO
ALTER TABLE [dbo].[ADMINISTRADOR]  WITH CHECK ADD  CONSTRAINT [chk_password_valid] CHECK  ((len([pass_admin])>=(8) AND patindex('%[A-Z]%',[pass_admin])>(0) AND patindex('%[a-z]%',[pass_admin])>(0) AND patindex('%[0-9]%',[pass_admin])>(0) AND patindex('%[^a-zA-Z0-9]%',[pass_admin])>(0)))
GO
ALTER TABLE [dbo].[ADMINISTRADOR] CHECK CONSTRAINT [chk_password_valid]
GO
ALTER TABLE [dbo].[ADMINISTRADOR]  WITH CHECK ADD  CONSTRAINT [chk_usser_valid] CHECK  ((len([uss_admin])=(10) AND patindex('%[A-Z]%',[uss_admin])>(0) AND patindex('%[a-z]%',[uss_admin])>(0) AND patindex('%[0-9]%',[uss_admin])>(0)))
GO
ALTER TABLE [dbo].[ADMINISTRADOR] CHECK CONSTRAINT [chk_usser_valid]
GO
ALTER TABLE [dbo].[CORREDOR]  WITH CHECK ADD  CONSTRAINT [chk_correo_corredor] CHECK  (([c_corredor] like '%@%.%'))
GO
ALTER TABLE [dbo].[CORREDOR] CHECK CONSTRAINT [chk_correo_corredor]
GO
ALTER TABLE [dbo].[CORREDOR]  WITH CHECK ADD CHECK  ((len([pais])>=(4)))
GO
ALTER TABLE [dbo].[CORREDOR]  WITH CHECK ADD CHECK  (([sex_corredor]='F' OR [sex_corredor]='M'))
GO
ALTER TABLE [dbo].[CORREDOR]  WITH CHECK ADD CHECK  (([sex_corredor]='F' OR [sex_corredor]='M'))
GO
USE [master]
GO



INSERT INTO ADMINISTRADOR (uss_admin, pass_admin)
VALUES ('1234567Aab', 'Xj45!87Aa');

